<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Jokenpo.Properties.Settings.dbJokenpoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\gilmar.souza\Documents\Visual Studio 2010\Projects\Temp Trabalho\Jokenpo\dbJokenpo.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Jokenpo.Properties.Settings.ClientDBJOKENPOConnectionString"
            connectionString="Data Source=|DataDirectory|\DBJOKENPO.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>